/* Start varibles */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
    --main-transation: 0.3s;
}

/* End varibles */
/* Start box */
.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-1 {
    flex: 1;
}

.d-block {
    display: block;
}

.s-between {
    justify-content: space-between;

}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

@media (max-width: 767px) {
    .mobile-block {
        display: block;
    }

    .hide-in-mobile {
        display: none;
    }
}

/* End box */
/* Start padding + margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-5 {
    padding-left: 5px;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}



.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* End padding + margin */

/* Start color */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-e {
    background-color: #eee;
}

.c-black {
    color: black;
}

.c-gray {
    color: var(--gray-color);
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}


/* End color */

/* Start position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End position */

/* Start font */
.txt-c {
    text-align: center;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

/* End font */

/* Start border*/
.bord-c {
    border: 1px solid #ccc;
}

.bord-e {
    border: 1px solid #eee;

}

.bord-b-e {
    border-bottom: 1px solid #eee;

}

.bord-t-e {
    border-top: 1px solid #eee;

}

.bord-half {
    border-radius: 50%;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
}

.bord-non {
    border: none;
}

/* End border*/
/* Start width */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

/* End width */
/* Start component */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* End component */